/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login { display: none !important; }
.login,
.logout { 
    position: absolute !important; 
    top: -3px !important;
    right: 0 !important;
}
.page-header { position: relative !important; }
.reviews {
    color: #555 !important;    
    font-weight: bold !important;
    margin: 10px auto 20px !important;
}
.notes {
    color: #999 !important;
    font-size: 12px !important;
}
.media .media-object { max-width: 120px !important; }
.media-body { position: relative !important; }
.media-date { 
    position: absolute !important; 
    right: 25px !important;
    top: 25px !important;
}
.media-date li { padding: 0 !important; }
.media-date li:first-child:before { content: '' !important; }
.media-date li:before { 
    content: '.' !important; 
    margin-left: -2px !important; 
    margin-right: 2px !important;
}
.media-comment { margin-bottom: 20px !important; }
.media-replied { margin: 0 0 20px 50px !important; }
.media-replied .media-heading { padding-left: 6px !important; }

.btn-circle {
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 6px 15px !important;
    border-radius: 20px !important;
}
.btn-circle span { padding-right: 6px !important; }
.embed-responsive { margin-bottom: 20px !important; }
.tab-content {
    padding: 50px 15px !important;
    border: 1px solid #ddd !important;
    border-top: 0 !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.uploadPhoto {
    position: absolute !important;
    top: 25% !important;
    left: 25% !important;
    display: none !important;
    width: 50% !important;
    height: 50% !important;
    color: #fff !important;    
    text-align: center !important;
    line-height: 60px !important;
    text-transform: uppercase !important;    
    background-color: rgba(0,0,0,.3) !important;
    border-radius: 50px !important;
    cursor: pointer !important;
}
.custom-input-file:hover .uploadPhoto { display: block !important; }